/*Setting variables*/
:root {
  --white: rgba(255, 255, 255, 0.966);
  --yellow: #ffffb3;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

.card {
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 10% auto;
  margin-top: 4rem;
  max-width: 800px;
  padding: 30px 40px;
  text-align: center;
  padding-bottom: 10rem;
  background-color:var(--yellow)
}
.card-body {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: block;
  padding: 0.2rem;
}
.main_title {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 275%;
  font-family: "Lobster", cursive;
}

/* Quiz start button styling */
.start_quiz {
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
 
}

#question_list {
  display: block;

  float: left;
  margin:.25rem;
  font-size: 150%;
  font-family: 'Roboto', sans-serif;
}
#question_title {
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
  margin-bottom:1rem;
}

#start_button {
  font-size: 125%;
  margin: 0.25rem;
  color: var(--white);
}

.answer-button{
  color: white;
}
